@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
    <p>Application: @Model.Environment.ApplicationName</p>
    <p>Environment: @Model.Environment.EnvironmentName</p>
    <p>Favorite Number: @Model.FavoriteNumber</p>
</div>
